// <!-- ===== GOOGLE FONTS ===== -->
// poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
// Archivo Narrow
// font-family: 'Archivo Narrow', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap');

// <!-- ===== ROOTS ===== -->
:root{
// ----- Colors ------
--color-brand: #ca711d;
--color-brand-dark: #945215;
--color-brand1: #069c5480;
--color-white: #fff;
--color-text-light: #A6A6A6;
// the colors below have a dark themed version
--color-title: #393939;
--color-text: #707070;
--color-body: #FBFEFD;
--color-container: #FFFFFF;


// ----- Font Size and Typography -----
--font-family: 'Poppins', sans-serif;
--font-family-narrow:'Archivo Narrow', sans-serif;
--fz-largest: 2.25rem;
--fz-h1: 1.5rem;
--fz-h2: 1.25rem;
--fz-h3: 1rem;
--fz-normal: 0.938rem;
--fz-small: 0.813rem;
--fz-smaller: 0.75rem;

@media screen and (min-width: 768px){
    --fz-largest: 4rem;
    --fz-h1: 2.25rem;
    --fz-h2:: 1.5rem;
    --fz-h3: 1.25rem;
    --fz-normal: 1rem;
    --fz-small: .875rem;
    --fz-smaller: .813rem;
}

// ----- Font Weight -----
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-bolder: 800;

// ----- Margins -----
    --margin-1: .5rem;
    --margin-2: 1rem;
    --margin-3: 1.5rem;
    --margin-4: 2rem;
    --margin-5: 2.5rem;
    --margin-6: 3rem;

// ----- Z Index -----
    --z-tooltip: 10;
    --z-fixed: 100;
}

// ----- Base -----
*,::before,::after,{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

// ----- Dark Theme -----
body.dark-theme{
    --color-title: #F1F3F2;
    --color-text: #C7D1CC;
    --color-body: #1D2521;
    --color-container: #27302C;
}


//  ----- General -----

body{
    font-family: var(--font-family);
    font-size: var(--fz-normal);
    background-color: var(--color-body);
    color: var(--color-text);
    overflow-x: hidden;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
    height: auto;
}

/* ----------- MARGIN & PADDING ----------- */
.GloMargin{
    margin: 4rem 6rem;

    @media screen and (max-width: 700px) {
        margin: 4rem;
    }

    @media screen and (max-width: 550px) {
        margin: 4rem 2rem;
    }
}

.GloPadding{
    padding: 4rem 6rem;

    @media screen and (max-width: 700px) {
        padding: 4rem;
    }

    @media screen and (max-width: 550px) {
        padding: 2rem 2rem;
    }
}

.GloPaddingSm{
    padding: 2rem 6rem;

    @media screen and (max-width: 700px) {
        padding: 2rem;
    }

    @media screen and (max-width: 550px) {
        padding: 1.5rem 1rem;
    }
}

/* ----------- Components ----------- */
.section__title-main{
    color: var(--color-text);
    font-size: 3rem;
    font-family: var(--font-family-narrow);
    margin: 0;
    font-weight: var(--fw-bolder);
    text-transform: uppercase;
    line-height: 90%;
}

.section__title-sub{
    color: var(--color-brand);
    font-family: var(--font-family-narrow);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
}

/* ------------ BUTTONS ----------- */
.button{
    display: inline-block;
    background-color: var(--color-brand);
    color: var(--color-white);
    padding: .75rem 1rem;
    border-radius: .5rem; 
    transition: .3s;
    font-weight: var(--fw-medium);
    
    &:hover{
        background-color: var(--color-brand-dark);
    }
}

// EDIT BELOW =============================================================================


// <!-- ===== HERO ===== -->
.hero{
    height: 50vh;
    background: url('https://images.pexels.com/photos/159291/beer-machine-alcohol-brewery-159291.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;

    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.425), rgba(2, 2, 48, 0.706));
        z-index: -1;
    }

    &__container{
        align-content: center;
    }

    .nav{
        max-width: 1024px;
        cursor: pointer;


        .icon__toggle{
            position: absolute;
            right: 1rem;
            top: 1rem;
            color: var(--color-text-light);
            font-size: 1.5rem;
        }

        .icon__toggle:hover{
            color: var(--color-brand);
        }


        .nav__menu {
            color: var(--color-white);
            background: var(--color-text-light);
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            right: -100%;
            // left: 0;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: var(--fz-h2);
            transition: 0.5s;
            z-index: 1;
            padding-top: 5rem;
            

           .nav__ul-li{
               margin: 1.5rem 0;
               transition: 0.3s;
           }

           .nav__ul-li:hover{
               color: var(--color-brand);
           }

           .icon__close{
               position: absolute;
               top: 1rem;
               right: 1rem;
               font-size: 2rem;
           }

           .icon__close:hover{
               color: var(--color-brand);
           }

           
        }

        // Show - Close Menu
        .show-menu{
            right: 0;
        }
        
        .hero-button{
            margin: 2rem 0;
        }
    }

    
    .hero__data-title{
        margin-top: 3rem;
        margin-bottom: .3rem;
        font-size: 4rem;
        color: var(--color-text-light);
        }

    
    

     

}




// <!-- ===== ABOUT ===== -->
.about{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    background: rgba(202, 113, 29, 0.432);
    background: linear-gradient(180deg, rgba(202, 113, 29, 0.671) 0%, rgba(148, 82, 21, 0.658) 0%, rgba(254,254,254,1) 84%); ;
    color: var(--color-title);

    .about__status-container{
        margin-bottom: 3rem;
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        justify-content: center;
    }

    .about__status{
        width: 100px;
        height: 100px;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1rem;
    }

    .status-1{
        position: relative;
        z-index: 1;
        color: #fff;
    }

    .status-1::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 130%;
        background-color: var(--color-brand);
        bottom: 0;
        left: 0;
        z-index: -2;
    }

    .status-2{
        background-color: black;
        color: #fff;
    }
    .status-3{
        background: rgba(255, 255, 255, 0.13);

    }
    .status-4{
        background-color: var(--color-body);

    }

    .about__status-numbers{
        font-size: var(--fz-h2);
        font-weight: var(--fw-medium);
    }
    .about__status-title{
        font-size: .6rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: var(--font-family-narrow);
    }

    .about__data-container{}

    .about__data-title{
        font-size: 4rem;
        line-height: 90%;
        letter-spacing: 0.1px;
        font-family: var(--font-family-narrow);
    }

    .about__data-desc{
        margin: 2rem 0;
    }
}
// <!-- ===== HISTORY ===== -->
.history{
    display: grid;
    grid-template-columns: auto;

    .history__container-title{
        margin-bottom: 2rem;
    }

    .history__container-graphic{
        display: flex;
        margin-left: 1rem;
    }

    .history__graphic-line{
        width: 2px;
        height: 400px;
        background: var(--color-brand-dark);
    }

    .history__graphic-data-container{}

    .history__graphic-data{
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0 3rem 1rem;
        position: relative;
    }

    .graphic__data-dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--color-brand-dark);
        position: absolute;
        left: -1.42rem;
        top: .5rem;
    }

    .graphic__data-subtitle{
        color: var(--color-brand);
        font-weight: var(--fw-semi-bold);
    }

    .graphic__data-title{
        font-weight: var(--fw-bold);
    }

    .history__container-desc{}
    .history__desc-par{
        margin: 1.5rem 0 3rem 1rem;
        
    }

}

// <!-- ===== GALLERY ===== -->
.gallery{
    display: flex;
    flex-direction: column;

    .gallery__title-container{
        margin-bottom: 2rem;
    }

    .pic-small, .pic-big{
        margin-bottom: 2rem;
    }
}

// <!-- ===== VIDEO ===== -->
// <!-- ===== REVIEWS ===== -->
.reviews{

    .reviews__title{
        margin-bottom: 2rem;
    }

    .reviews__container{}

    .review-card{
        margin-bottom: 2rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 5px 5px rgba(148, 82, 21, 0.164);
        border-radius: 20px;
        transition: 0.4s ease;
    }

    .review-card:hover{
        transform: translateY(-3px);
    }

    .card__img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    

    .card__name{
        font-size: 1.25rem;
        margin: 0.5rem 0;
        color: var(--color-brand-dark);
    }

    .card__text{
        text-align: center;
        color: var(--color-text-light);
    }
}

// <!-- ===== CONTACT ===== -->
.contact{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact__container{
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .contact__container-title{
        margin-bottom: 1rem;
    }

    .contact__form{
        width: 100%;
    }

    .contact__input{
        border: none;
        margin-bottom: 1rem;
        height: 2rem;
        width: 100%;
        padding-left: 1rem;
        background: rgba(128, 128, 128, 0.158);
        border-radius: 5px;
    }

    .contact__input:focus{
        outline: none;
    }
    .contact__textArea{
        height: 10rem;
        width: 100%;
        border: none;
        background: rgba(128, 128, 128, 0.158);
        border-radius: 5px;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .contact__textArea:focus{
        outline: none;
    }

    .contact__button{
        padding: 1rem;
        width: 100%;
        border: 0; 
        margin: 1rem 0;
        cursor: pointer;
        font-size: 1.2rem;
        letter-spacing: 1px;
        background: var(--color-brand);
        color: var(--color-white);
        transform: 0.4s ease;
    }

    .contact__button:hover{
        background: var(--color-brand-dark);
    }
}

// <!-- ===== FOOTER ===== -->
.footer{
    width: 100vw;
    height: 30vh;
    color: var(--color-text);

    .footer__sitemap{
        margin: 1.5rem 0;

        .footer__sitemap-logo{
            margin-bottom: .5rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: var(--font-family-narrow);
            color: var(--color-brand);
        }

        .footer__sitemap-desc{
            margin-bottom: .5rem;
            color: var(--color-text-light);
        }
    }

    .footer__links{
        margin: 1.5rem 0;
        color: var(--color-text-light);

        .footer__link-item{
            margin-bottom: 0.6rem;
            cursor: pointer;
            transition: 0.4s ease;
        }

        .footer__link-item:hover{
            color: var(--color-brand-dark);
        }
    }

    .footer__address{
        margin: 1.5rem 0;
        color: var(--color-text-light);


        .footer__address-add{
            margin-bottom: .5rem;
        }

        .footer__address-contact{
            margin-bottom: .5rem;

        }

        .footer__address-socialLinks{
        color: var(--color-text-light);
        font-size: 1.5rem;
        cursor: pointer;
        }

        .footer__address-socialLinks i{
            transition: 0.4s;
            cursor: pointer;
            margin-left: 1rem;
        }

        .footer__address-socialLinks i:hover{
            color: var(--color-brand);
        }
    }

    .footer__address-copyright{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        color: var(--color-text-light);
    }
}
// ===============================================================================

/* ----------------- MEDIA QUERIES -------------------- */
@media screen and (min-width: 576px){
    .hero__contaier{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .abt_a{
        text-align: initial;
    }

    .abo{
        width: 380px;
        order: -1;
    }

    .cont{
        &__container{
            grid-template-columns: 1.75fr 1fr;
            align-items: center;
        }
        &__button{
            justify-self: center;
        }
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .secn{
        padding-top: 8rem;
    }

    .menu{
        &__container{
            grid-template-columns: repeat(3, 210px);
            column-gap: 4rem;
        }
        &__content{
            padding: 1.5rem;
        }
        &__img{
            width: 130px;
        }
    }

    .app__store{
        margin: 0 var(--margin-1) 0 0;
    }
}

@media screen and (min-width: 960px){
    .mz-container{
        margin-left: auto;
        margin-right: auto;
    }

    .home__img{
        width: 500px;
    }

    .about__container, .app__container{
        column-gap: 7rem;
    }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}